@media only screen and (min-width: 1660px) { html { font-size: 15px; } }

@media only screen and (max-width: 1660px) { /**/ }

@media only screen and (max-width: 1400px) { /**/
  html { font-size: 11px; } }

@media only screen and (max-width: 1300px) { /**/
  body { overflow-x: hidden; } }

@media only screen and (max-width: 1200px) { /**/ }

@media only screen and (max-width: 1100px) { /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) { /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) { /**/
  html { font-size: 15px; }
  .wrapper { padding: 0 1.5rem; }
  .section-content { padding: 1rem 0; min-height: initial; height: auto; }
  .section-content .wrapper { padding: 0 0; height: auto; }
  .section-content .wrapper .content-table { margin-top: 0; }
  .section-content .wrapper .content-top { display: none; }
  header, footer { display: none; }
  .table { overflow: auto; width: 100%; padding: 0 2rem; height: auto; }
  .table table { min-width: 110rem; } }
